<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1251">
<link id="csssrc" rel="stylesheet" type="text/css" href="/sveden/styles.css">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="0">
<title>Основные сведения</title>
</head>
<body>
<div id="outcontainer">
<div id="topheader"><a href="javascript:chovz()" itemprop="copy" id="ovz" class="ovz">Версия для слабовидящих</a></div>
<div id="container">
<div id="container_menu">
<div class="menu"><a class="menu" href="/" style="font-size: larger">Главная страница</a></div><hr>
<div class="menu-select">Основные сведения</div>
<div class="menu"><a class="menu" href="/sveden/struct/" onclick="go(this)">Структура и органы управления образовательной организацией</a></div>
<div class="menu"><a class="menu" href="/sveden/document/" onclick="go(this)">Документы</a></div>
<div class="menu"><a class="menu" href="/sveden/education/" onclick="go(this)">Образование</a></div>
<div class="menu"><a class="menu" href="/sveden/eduStandarts/" onclick="go(this)">Образовательные стандарты</a></div>
<div class="menu"><a class="menu" href="/sveden/employees/" onclick="go(this)">Руководство. Педагогический (научно-педагогический) состав</a></div>
<div class="menu"><a class="menu" href="/sveden/objects/" onclick="go(this)">Материально-техническое обеспечение образовательного процесса</a></div>
<div class="menu"><a class="menu" href="/sveden/grants/" onclick="go(this)">Стипендии и иные виды материальной поддержки</a></div>
<div class="menu"><a class="menu" href="/sveden/paid_edu/" onclick="go(this)">Платные образовательные услуги</a></div>
<div class="menu"><a class="menu" href="/sveden/budget/" onclick="go(this)">Финансово-хозяйственная деятельность</a></div>
<div class="menu"><a class="menu" href="/sveden/vacant/" onclick="go(this)">Вакантные места для приема (перевода)</a></div>
<div class="menu"><a class="menu" href="/sveden/ovz/" onclick="go(this)">Доступная среда</a></div>
<div class="menu"><a class="menu" href="/sveden/inter/" onclick="go(this)">Международное сотрудничество</a></div>
</div>
<div id="container_content">
<div style="padding: 30px">
<h1>Основные сведения</h1>
<!--Сгенерированные сведения-->
<table>
<tr><td>Дата создания образовательной организации</td><td itemprop="regDate">03.02.2016</td></tr>
<tr><td>Адрес местонахождения образовательной организации</td><td itemprop="address">362025, СКФО, РСО - Алания, г. Владикавказ, ул. Бородинская, д. 14.</td></tr>
<tr><td>Филиалы образовательной организации</td>
<td>Имеются</td>
</tr>
<tr><td>Режим, график работы</td><td itemprop="workTime"><br>Начало учебного года по очной форме обучения - 1 сентября (или первый рабочий день сентября).<br><br>Учебные занятия проводятся по графику шестидневной рабочей недели.<br><br>Начало занятий - в соответствии с расписанием учебных групп.<br><br>Расписание звонков<br>1 пара 9:00-10:30<br>2 пара 10:40-12:10<br>З пара 12:40-14:10<br>4 пара 14:20-15:50<br>5 пара 16:00-17:30<br>6 пара 17:40-19.10<br>График работы учебных корпусов<br>В течение семестра учебные корпуса для сотрудников и студентов открываются - в 8:00, закрываются - в 21:30 (понедельник - пятница), в 20:00 (суббота).<br><br>Режим работы института в праздничные дни устанавливается соответствующими постановлениями Правительства РФ и приказами по институту.<br><br>Режим работы деканата 9:00 - 17:30<br><br>Режим работы кафедр 9:00 - 17:30.<br></td></tr>
<tr><td>Контактные телефоны</td><td itemprop="telephone">8(8672) 40-51-75 (доп 210); 8(800)5553535</td></tr>
<tr><td>Факсы</td><td itemprop="fax">8(8672) 40-51-75</td></tr>
<tr><td>Адреса электронной почты</td><td itemprop="email">vku-online@mail.ru</td></tr>
</table>
<h3>Информация об учредителе (учредителях) образовательной организации</h3>
<table>
<tr><td>Наименование учредителя</td><td>Фамилия, имя, отчество руководителя учредителя (учредителя) образовательной организации</td><td>Юридический адрес учредителя</td>
<td>Контактные телефоны</td><td>Адрес электронной почты</td><td>Адрес сайта учредителя в сети "Интернет"</td></tr>
<tr itemprop="uchredLaw">
<td itemprop="nameUchred">Частное образовательное учреждение высшего образования «Владикавказский институт управления»</td>
<td itemprop="fullnameUchred">Цуциева Мадина Валерьевна</td>
<td itemprop="addressUchred">Российская Федерация, 362025, Северо-Кавказский ФО, Республика Северная Осетия-Алания, г. Владикавказ, Бородинская, д. 14</td>
<td itemprop="telUchred">8(8672) 40-51-75</td>
<td itemprop="mailUchred">viu-online@mail.ru</td>
<td itemprop="websiteUchred">viu-online.ru</td>
</tr>
</table>
<h3>Информация о филиалах образовательной организации</h3>
<table>
<tr><td>№ <nobr>п/п</nobr></td><td>Наименование филиала</td><td>Место нахождения филиала образовательной организации</td><td>Режим и график работы</td><td>Контактные телефоны</td><td>Электронная почта</td><td>Адрес официального сайта в сети "Интернет"</td></tr>
<tr itemprop="filInfo">
<td>1</td>
<td itemprop="nameFil">-</td>
<td itemprop="addressFil">-</td>
<td itemprop="workTimeFil">-</td>
<td itemprop="telephoneFil">-</td>
<td itemprop="emailFil">-</td>
<td itemprop="websiteFil">-</td>
</tr>
</table>
<h3>Информация о представительствах образовательной организации</h3>
<table>
<tr><td>№ <nobr>п/п</nobr></td><td>Наименование представительства</td><td>Место нахождения представительства образовательной организации</td><td>Режим и график работы</td><td>Контактные телефоны</td><td>Электронная почта</td><td>Адрес официального сайта в сети "Интернет"</td></tr>
<tr itemprop="repInfo">
<td>1</td>
<td itemprop="nameRep">-</td>
<td itemprop="addressRep">-</td>
<td itemprop="workTimeRep">-</td>
<td itemprop="telephoneRep">-</td>
<td itemprop="emailRep">-</td>
<td itemprop="websiteRep">-</td>
</tr>
</table>
<p>жопа</p>
<!--Конец сведений-->
</div>
</div>
</div>
<div id="footer">&copy; 2021 Федеральное государственное бюджетное образовательное учреждение высшего образования "Северо-Осетинская государственная медицинская академия" Министерства здравоохранения Российской Федерации</div>
</div>
<script language="JavaScript">
window.onload=checkContHeight;
window.onresize=checkContHeight;
var ovz_href='';
if(window.location.search=='?sv=1'){changecss(true);}
function changecss(flag){var css_cont=document.getElementById('csssrc');var ovz_cont=document.getElementById('ovz');
if(flag){css_cont.href='/sveden/styles_ovz.css';ovz_cont.innerHTML='Обычная версия';ovz_href='?sv=1';checkContHeight();}else{css_cont.href='/sveden/styles.css';ovz_cont.innerHTML='Версия для слабовидящих';ovz_href='';checkContHeight();}}
function checkContHeight(){var container=document.getElementById('container');var container_menu=document.getElementById('container_menu');var container_content=document.getElementById('container_content');
if(ovz_href=='?sv=1'){container.style.height=(document.body.clientHeight-69).toString()+'px';container_menu.style.height=(document.body.clientHeight-69).toString()+'px';container_content.style.height=(document.body.clientHeight-69).toString()+'px';}
else{container.style.height=(document.body.clientHeight-54).toString()+'px';container_menu.style.height=(document.body.clientHeight-54).toString()+'px';container_content.style.height=(document.body.clientHeight-54).toString()+'px';}}
function chovz(){if(ovz_href=='?sv=1'){changecss(false);}else{changecss(true);}}
function go(aobj){aobj.href=aobj.href+ovz_href;}
function sh(obj){if(typeof obj==='object')if(obj.style.display=='none')obj.style.display='block';else obj.style.display='none';}
</script>
</body>
</html>