<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <link id="csssrc" rel="stylesheet" type="text/css" href="/sveden/styles.css">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="0">
    <title>Основные сведения</title>
</head>
<body>
<div id="outcontainer">
    <div id="topheader"><a href="javascript:chovz()" itemprop="copy" id="ovz" class="ovz">Версия для слабовидящих</a>
    </div>
    <div id="container">
        <div id="container_menu">
            <div class="menu"><a class="menu" href="/" style="font-size: larger">Главная страница</a></div>
            <hr>
            <div class="menu-select">Основные сведения</div>
            <div class="menu"><a class="menu" href="/sveden/struct/" onclick="go(this)">Структура и органы управления
                образовательной организацией</a></div>
            <div class="menu"><a class="menu" href="/sveden/document/" onclick="go(this)">Документы</a></div>
            <div class="menu"><a class="menu" href="/sveden/education/" onclick="go(this)">Образование</a></div>
            <div class="menu"><a class="menu" href="/sveden/eduStandarts/" onclick="go(this)">Образовательные
                стандарты</a></div>
            <div class="menu"><a class="menu" href="/sveden/employees/" onclick="go(this)">Руководство. Педагогический
                (научно-педагогический) состав</a></div>
            <div class="menu"><a class="menu" href="/sveden/objects/" onclick="go(this)">Материально-техническое
                обеспечение образовательного процесса</a></div>
            <div class="menu"><a class="menu" href="/sveden/grants/" onclick="go(this)">Стипендии и иные виды
                материальной поддержки</a></div>
            <div class="menu"><a class="menu" href="/sveden/paid_edu/" onclick="go(this)">Платные образовательные
                услуги</a></div>
            <div class="menu"><a class="menu" href="/sveden/budget/" onclick="go(this)">Финансово-хозяйственная
                деятельность</a></div>
            <div class="menu"><a class="menu" href="/sveden/vacant/" onclick="go(this)">Вакантные места для приема
                (перевода)</a></div>
            <div class="menu"><a class="menu" href="/sveden/ovz/" onclick="go(this)">Доступная среда</a></div>
            <div class="menu"><a class="menu" href="/sveden/inter/" onclick="go(this)">Международное сотрудничество</a>
            </div>
        </div>
        <div id="container_content">
            <div style="padding: 30px">
                <h1>Основные сведения</h1>
                <!--Сгенерированные сведения-->

                {% for form in commonFormsetObj %}
                    <table>
                        <tr>
                            <td>Дата создания образовательной организации</td>
                            <td itemprop="regDate">{{ form.cleaned_data.regDate }}</td>
                        </tr>
                        <tr>
                            <td>Адрес местонахождения образовательной организации</td>
                            <td itemprop="address">{{ form.cleaned_data.address }}</td>
                        </tr>
                        <tr>
                            <td>Филиалы образовательной организации</td>
                            <td>
                                {% if filInfoFormsetObj.cleaned_data.length > 0 %}
                                    Имеются
                                {% else %}
                                    Не имеются
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Режим, график работы</td>
                            <td itemprop="workTime">{{ form.cleaned_data.workTime|linebreaks }}</td>
                        </tr>
                        <tr>
                            <td>Контактные телефоны</td>
                            <td itemprop="telephone">{{ form.cleaned_data.telephone }}</td>
                        </tr>
                        <tr>
                            <td>Факсы</td>
                            <td itemprop="fax">{{ form.cleaned_data.fax }}</td>
                        </tr>
                        <tr>
                            <td>Адреса электронной почты</td>
                            <td itemprop="email">{{ form.cleaned_data.email }}</td>
                        </tr>
                    </table>
                {% endfor %}
                <h3>Информация об учредителе (учредителях) образовательной организации</h3>
                <table>
                    <tr>
                        <td>Наименование учредителя</td>
                        <td>Фамилия, имя, отчество руководителя учредителя (учредителя) образовательной организации</td>
                        <td>Юридический адрес учредителя</td>
                        <td>Контактные телефоны</td>
                        <td>Адрес электронной почты</td>
                        <td>Адрес сайта учредителя в сети "Интернет"</td>
                    </tr>
                    {% for form in uchredLawFormsetObj%}
                        <tr itemprop="uchredLaw">
                            <td itemprop="nameUchred">{{ form.cleaned_data.nameUchred }}</td>
                            <td itemprop="fullnameUchred">{{ form.cleaned_data.fullnameUchred }}</td>
                            <td itemprop="addressUchred">{{ form.cleaned_data.addressUchred }}</td>
                            <td itemprop="telUchred">{{ form.cleaned_data.telUchred }}</td>
                            <td itemprop="mailUchred">{{ form.cleaned_data.mailUchred }}</td>
                            <td itemprop="websiteUchred">{{ form.cleaned_data.websiteUchred }}</td>
                        </tr>
                    {% endfor %}

                </table>
                <h3>Информация о филиалах образовательной организации</h3>
                <table>
                    <tr>
                        <td>№
                            <nobr>п/п</nobr>
                        </td>
                        <td>Наименование филиала</td>
                        <td>Место нахождения филиала образовательной организации</td>
                        <td>Режим и график работы</td>
                        <td>Контактные телефоны</td>
                        <td>Электронная почта</td>
                        <td>Адрес официального сайта в сети "Интернет"</td>
                    </tr>
                    {% for form in filInfoFormsetObj %}
                        <tr itemprop="filInfo">
                            <td>{{ forloop.counter }}</td>
                            <td itemprop="nameFil">{{ form.cleaned_data.nameFil }}</td>
                            <td itemprop="addressFil">{{ form.cleaned_data.addressFil }}</td>
                            <td itemprop="workTimeFil">{{ form.cleaned_data.workTimeFil|linebreaks }}</td>
                            <td itemprop="telephoneFil">{{ form.cleaned_data.telephoneFil }}</td>
                            <td itemprop="emailFil">{{ form.cleaned_data.emailFil }}</td>
                            <td itemprop="websiteFil">{{ form.cleaned_data.websiteFil }}</td>
                        </tr>
                    {% endfor %}

                </table>
                <h3>Информация о представительствах образовательной организации</h3>
                <table>
                    <tr>
                        <td>№
                            <nobr>п/п</nobr>
                        </td>
                        <td>Наименование представительства</td>
                        <td>Место нахождения представительства образовательной организации</td>
                        <td>Режим и график работы</td>
                        <td>Контактные телефоны</td>
                        <td>Электронная почта</td>
                        <td>Адрес официального сайта в сети "Интернет"</td>
                    </tr>
                    {% for form in repInfoFormsetObj %}
                        <tr itemprop="repInfo">
                            <td>{{ forloop.counter }}</td>
                            <td itemprop="nameRep">{{ form.cleaned_data.nameRep }}</td>
                            <td itemprop="addressRep">{{ form.cleaned_data.addressRep }}</td>
                            <td itemprop="workTimeRep">{{ form.cleaned_data.workTimeRep|linebreaks }}</td>
                            <td itemprop="telephoneRep">{{ form.cleaned_data.telephoneRep }}</td>
                            <td itemprop="emailRep">{{ form.cleaned_data.emailRep }}</td>
                            <td itemprop="websiteRep">{{ form.cleaned_data.websiteRep }}</td>
                        </tr>
                    {% endfor %}

                </table>
            {% for form in commonFormsetObj %}
                {{ form.cleaned_data.additionalInformation|linebreaks }}
            {% endfor %}
                <!--Конец сведений-->
            </div>
        </div>
    </div>
    <div id="footer">&copy; 2021
        {% for form in commonFormsetObj %}
            {{ form.cleaned_data.name }}
        {% endfor %}
    </div>
</div>
<script language="JavaScript">
    window.onload = checkContHeight;
    window.onresize = checkContHeight;
    var ovz_href = '';
    if (window.location.search == '?sv=1') {
        changecss(true);
    }

    function changecss(flag) {
        var css_cont = document.getElementById('csssrc');
        var ovz_cont = document.getElementById('ovz');
        if (flag) {
            css_cont.href = '/sveden/styles_ovz.css';
            ovz_cont.innerHTML = 'Обычная версия';
            ovz_href = '?sv=1';
            checkContHeight();
        } else {
            css_cont.href = '/sveden/styles.css';
            ovz_cont.innerHTML = 'Версия для слабовидящих';
            ovz_href = '';
            checkContHeight();
        }
    }

    function checkContHeight() {
        var container = document.getElementById('container');
        var container_menu = document.getElementById('container_menu');
        var container_content = document.getElementById('container_content');
        if (ovz_href == '?sv=1') {
            container.style.height = (document.body.clientHeight - 69).toString() + 'px';
            container_menu.style.height = (document.body.clientHeight - 69).toString() + 'px';
            container_content.style.height = (document.body.clientHeight - 69).toString() + 'px';
        } else {
            container.style.height = (document.body.clientHeight - 54).toString() + 'px';
            container_menu.style.height = (document.body.clientHeight - 54).toString() + 'px';
            container_content.style.height = (document.body.clientHeight - 54).toString() + 'px';
        }
    }

    function chovz() {
        if (ovz_href == '?sv=1') {
            changecss(false);
        } else {
            changecss(true);
        }
    }

    function go(aobj) {
        aobj.href = aobj.href + ovz_href;
    }

    function sh(obj) {
        if (typeof obj === 'object') if (obj.style.display == 'none') obj.style.display = 'block'; else obj.style.display = 'none';
    }
</script>
</body>
</html>